* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #9294a00b;
}
main {
  display: grid;
  height: 100vh;
  grid-template: 100px 1fr 60px / 1fr;
  padding: 40px;
}
#thanks-message {
  grid-column: 1/2;
  grid-row: 2/3;
}
#thanks-message img {
  margin-bottom: 30px;
}
#thanks-message h1 {
  color: #242742;
  margin-bottom: 25px;
  font-size: 2.4rem;
}
#thanks-message p {
  color: #36384e;
  font-size: 1.1rem;
}
#thanks-message p span {
  color: #242742;
  font-weight: 600;
}
button {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #242742;
  color: #ffffff;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
}
button {
  color: #ffffff;
  font-size: 1.05rem;
  font-weight: 500;
  border: none;
  position: relative;
  z-index: 1;
}
button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242742;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.2s linear;
  z-index: -1;
}
button:hover::after {
  opacity: 0;
}
button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(235, 144, 176);
  background: linear-gradient(
    90deg,
    rgba(235, 144, 176, 1) 0%,
    rgba(255, 98, 87, 1) 48%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-box-shadow: 0px 14px 39px -12px rgba(255, 98, 87, 1);
  -moz-box-shadow: 0px 14px 39px -12px rgba(255, 98, 87, 1);
  box-shadow: 0px 14px 39px -12px rgba(255, 98, 87, 1);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;
  z-index: -1;
}
button:hover::after {
  opacity: 1;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242742;
  }
  main {
    grid-template: 1fr 50px / 1fr;
    height: auto;
    background-color: #ffffff;
    max-width: 400px;
    max-height: 600px;
    border-radius: 20px;
  }

  #thanks-message {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 30px;
  }
  #thanks-message h1 {
    font-size: 2.6rem;
  }
  button {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
